[Unit]
Description=e-Paper door sign button controller
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/python3 %h/button_controller.py
WorkingDirectory=%h
Restart=always

[Install]
WantedBy=multi-user.target
